* text=auto !eol
/SConscript -text
/__init__.py -text
algorithms/SConscript -text
algorithms/__init__.py -text
algorithms/centroid/__init__.py -text
algorithms/centroid/toy_centroid.py -text
algorithms/integration/SConscript -text
algorithms/integration/__init__.py -text
algorithms/integration/background_intensity.h -text
algorithms/integration/boost_python/background_intensity.cc -text
algorithms/integration/boost_python/from_beam_vector_to_xds.cc -text
algorithms/integration/boost_python/from_xds_e3_to_phi.cc -text
algorithms/integration/boost_python/from_xds_to_beam_vector.cc -text
algorithms/integration/boost_python/integration_ext.cc -text
algorithms/integration/boost_python/shoebox_calculator.cc -text
algorithms/integration/boost_python/subtract_background.cc -text
algorithms/integration/boost_python/xds_coordinate_system.cc -text
algorithms/integration/from_beam_vector_to_xds.h -text
algorithms/integration/from_xds_e3_to_phi.h -text
algorithms/integration/from_xds_to_beam_vector.h -text
algorithms/integration/shoebox_calculator.h -text
algorithms/integration/subtract_background.h -text
algorithms/integration/xds_coordinate_system.h -text
algorithms/spatial_indexing/SConscript -text
algorithms/spatial_indexing/__init__.py -text
algorithms/spatial_indexing/boost_python/octree.cc -text
algorithms/spatial_indexing/boost_python/quadtree.cc -text
algorithms/spatial_indexing/boost_python/spatial_indexing_ext.cc -text
algorithms/spatial_indexing/detect_collisions.h -text
algorithms/spatial_indexing/octree.h -text
algorithms/spatial_indexing/qotree.h -text
algorithms/spatial_indexing/quadtree.h -text
algorithms/spot_prediction/SConscript -text
algorithms/spot_prediction/__init__.py -text
algorithms/spot_prediction/boost_python/index_generator.cc -text
algorithms/spot_prediction/boost_python/multi_panel_spot_predictor.cc -text
algorithms/spot_prediction/boost_python/ray_intersection.cc -text
algorithms/spot_prediction/boost_python/ray_predictor.cc -text
algorithms/spot_prediction/boost_python/reflection_frames.cc -text
algorithms/spot_prediction/boost_python/rotation_angles.cc -text
algorithms/spot_prediction/boost_python/spot_prediction_ext.cc -text
algorithms/spot_prediction/index_generator.h -text
algorithms/spot_prediction/multi_panel_spot_predictor.h -text
algorithms/spot_prediction/ray_intersection.h -text
algorithms/spot_prediction/ray_predictor.h -text
algorithms/spot_prediction/reflection_frames.h -text
algorithms/spot_prediction/rotation_angles.h -text
command_line/detector_max_resolution.py -text
command_line/predict_spots.py -text
doc/developer/cctbx_introduction_1/cctbx_introduction_1.pdf -text
doc/developer/cctbx_introduction_1/cctbx_introduction_1.png -text
doc/developer/cctbx_introduction_1/cctbx_introduction_1.py -text
doc/developer/cctbx_introduction_1/cctbx_introduction_1.tex -text
doc/developer/cctbx_introduction_1/ximg2701_00001.cbf -text
doc/developer/cctbx_introduction_2/cctbx_introduction_2.mat -text
doc/developer/cctbx_introduction_2/cctbx_introduction_2.pdf -text
doc/developer/cctbx_introduction_2/cctbx_introduction_2.py -text
doc/developer/cctbx_introduction_2/cctbx_introduction_2.tex -text
doc/developer/cctbx_introduction_3/cctbx_introduction_3.pdf -text
doc/developer/cctbx_introduction_3/cctbx_introduction_3.tex -text
doc/developer/cctbx_introduction_3/toytbx/SConscript -text
doc/developer/cctbx_introduction_3/toytbx/__init__.py -text
doc/developer/cctbx_introduction_3/toytbx/command_line/make_list.py -text
doc/developer/cctbx_introduction_3/toytbx/ext.cpp -text
doc/developer/cctbx_introduction_3/toytbx/tst_toytbx.py -text
doc/developer/conventions/conventions.tex -text
doc/developer/dials.bib -text
doc/developer/jmp_notes/dials_integration/Figures/Images/image_volume_0.tiff -text
doc/developer/jmp_notes/dials_integration/Figures/Images/image_volume_1.tiff -text
doc/developer/jmp_notes/dials_integration/Figures/Images/image_volume_2.tiff -text
doc/developer/jmp_notes/dials_integration/Figures/Images/image_volume_3.tiff -text
doc/developer/jmp_notes/dials_integration/Figures/Images/image_volume_4.tiff -text
doc/developer/jmp_notes/dials_integration/Figures/Images/image_volume_5.tiff -text
doc/developer/jmp_notes/dials_integration/Figures/Images/image_volume_6.tiff -text
doc/developer/jmp_notes/dials_integration/Figures/Images/image_volume_7.tiff -text
doc/developer/jmp_notes/dials_integration/Figures/Images/image_volume_8.tiff -text
doc/developer/jmp_notes/dials_integration/Figures/Images/image_volume_w_markers0.tiff -text
doc/developer/jmp_notes/dials_integration/Figures/Images/image_volume_w_markers0_zoom1.tiff -text
doc/developer/jmp_notes/dials_integration/Figures/Images/image_volume_w_markers0_zoom2.tiff -text
doc/developer/jmp_notes/dials_integration/Figures/Images/image_volume_w_markers1.tiff -text
doc/developer/jmp_notes/dials_integration/Figures/Images/image_volume_w_markers2.tiff -text
doc/developer/jmp_notes/dials_integration/Figures/Images/image_volume_w_markers3.tiff -text
doc/developer/jmp_notes/dials_integration/Figures/Images/image_volume_w_markers4.tiff -text
doc/developer/jmp_notes/dials_integration/Figures/Images/image_volume_w_markers5.tiff -text
doc/developer/jmp_notes/dials_integration/Figures/Images/image_volume_w_markers6.tiff -text
doc/developer/jmp_notes/dials_integration/Figures/Images/image_volume_w_markers7.tiff -text
doc/developer/jmp_notes/dials_integration/Figures/Images/image_volume_w_markers8.tiff -text
doc/developer/jmp_notes/dials_integration/Figures/image_volume.png -text
doc/developer/jmp_notes/dials_integration/Figures/image_volume.xcf -text
doc/developer/jmp_notes/dials_integration/Figures/simple_spot_slices.png -text
doc/developer/jmp_notes/dials_integration/Figures/spot_prediction.png -text
doc/developer/jmp_notes/dials_integration/Figures/spot_prediction.xcf -text
doc/developer/jmp_notes/dials_integration/Figures/transformed_spot_slices.png -text
doc/developer/jmp_notes/dials_integration/Figures/transformed_spot_wireframe.png -text
doc/developer/jmp_notes/dials_integration/Figures/transformed_spot_wireframe.tiff -text
doc/developer/jmp_notes/dials_integration/dials_integration.tex -text
/error.h -text
framework/dftbx/SConscript -text
framework/dftbx/__init__.py -text
framework/dftbx/dftbx.cpp -text
framework/dftbx/dftbx.h -text
framework/dftbx/notes.txt -text
framework/dftbx/tst_dftbx.py -text
interfaces/__init__.py -text
interfaces/centroid/__init__.py -text
interfaces/centroid/centroid_interface_prototype.py -text
model/SConscript -text
model/__init__.py -text
model/data/SConscript -text
model/data/__init__.py -text
model/data/boost_python/data_ext.cc -text
model/data/boost_python/reflection.cc -text
model/data/reflection.h -text
model/experiment/SConscript -text
model/experiment/__init__.py -text
model/experiment/boost_python/experiment_ext.cc -text
/run_tests.py -text
scratch/__init__.py -text
scratch/dgw/__init__.py -text
scratch/dgw/crystal_model/__init__.py -text
scratch/dgw/crystal_model/crystal.py -text
scratch/dgw/crystal_model/tst_crystal.py -text
scratch/dgw/detector_model_old/README -text
scratch/dgw/detector_model_old/detector.py -text
scratch/dgw/goniometer_model/__init__.py -text
scratch/dgw/goniometer_model/gonio.py -text
scratch/dgw/prediction/README -text
scratch/dgw/prediction/__init__.py -text
scratch/dgw/prediction/predictors.py -text
scratch/dgw/prediction/tst.py -text
scratch/dgw/refinement/README -text
scratch/dgw/refinement/SConscript -text
scratch/dgw/refinement/__init__.py -text
scratch/dgw/refinement/boost_python/prediction_parameter_helpers.cc -text
scratch/dgw/refinement/boost_python/refinement_ext.cc -text
scratch/dgw/refinement/crystal_parameters.py -text
scratch/dgw/refinement/det_param_visualisation.py -text
scratch/dgw/refinement/detector_parameters.py -text
scratch/dgw/refinement/engine.py -text
scratch/dgw/refinement/geometry.params -text
scratch/dgw/refinement/minimiser.params -text
scratch/dgw/refinement/model_parameters.py -text
scratch/dgw/refinement/plot_derivatives.py -text
scratch/dgw/refinement/prediction_parameter_helpers.h -text
scratch/dgw/refinement/prediction_parameters.py -text
scratch/dgw/refinement/refinement.py -text
scratch/dgw/refinement/setup_geometry.py -text
scratch/dgw/refinement/setup_minimiser.py -text
scratch/dgw/refinement/source_parameters.py -text
scratch/dgw/refinement/target.py -text
scratch/dgw/refinement/tst_convergence_radius.py -text
scratch/dgw/refinement/tst_convergence_radius_one_parameter.py -text
scratch/dgw/refinement/tst_dials_models.py -text
scratch/dgw/refinement/tst_finite_diffs.py -text
scratch/dgw/refinement/tst_orientation_refinement.py -text
scratch/dgw/refinement/tst_prediction_parameters.py -text
scratch/dgw/refinement/tst_ref_passage_categorisation.py -text
scratch/dgw/source_model/__init__.py -text
scratch/dgw/source_model/source.py -text
scratch/dgw/source_model/tst_source.py -text
scratch/gw/biostruct-25.py -text
scratch/gw/refine.py -text
scratch/gw/sympy_spells.py -text
scratch/gw/x2tbx/SConscript -text
scratch/gw/x2tbx/__init__.py -text
scratch/gw/x2tbx/command_line/resolutionizer.py -text
scratch/gw/x2tbx/command_line/resolutionizer_xia2.py -text
scratch/gw/x2tbx/ext.cpp -text
scratch/gw/x2tbx/tst_x2tbx.py -text
scratch/gw/x2tbx/x2tbx.cpp -text
scratch/gw/x2tbx/x2tbx.h -text
scratch/gw/x2tbx/x2tbx_ol.cpp -text
scratch/gw/x2tbx/x2tbx_rl.cpp -text
scratch/jmp/build.sh -text
scratch/jmp/cctbx_exercises/.project -text
scratch/jmp/cctbx_exercises/.pydevproject -text
scratch/jmp/cctbx_exercises/data/GXPARM.XDS -text
scratch/jmp/cctbx_exercises/data/INTEGRATE.HKL -text
scratch/jmp/cctbx_exercises/data/ximg2700_00001.cbf -text svneol=unset#unset
scratch/jmp/cctbx_exercises/data/ximg2701_00001.cbf -text svneol=unset#unset
scratch/jmp/cctbx_exercises/data/ximg2701_0001_reflection_profiles.hdf5 -text
scratch/jmp/cctbx_exercises/src/cbfinfo.py -text
scratch/jmp/cctbx_exercises/src/cbfinfo.pyc -text
scratch/jmp/cctbx_exercises/src/detector/__init__.py -text
scratch/jmp/cctbx_exercises/src/detector/coordinate_system.py -text
scratch/jmp/cctbx_exercises/src/detector/test/__init__.py -text
scratch/jmp/cctbx_exercises/src/detector/test/test_detector_coordinate_system.py -text
scratch/jmp/cctbx_exercises/src/exercise_1.py -text
scratch/jmp/cctbx_exercises/src/exercise_1_2.py -text
scratch/jmp/cctbx_exercises/src/exercise_2.py -text
scratch/jmp/cctbx_exercises/src/exercise_2_2.py -text
scratch/jmp/cctbx_exercises/src/exercise_3.py -text
scratch/jmp/cctbx_exercises/src/goniometer/__init__.py -text
scratch/jmp/cctbx_exercises/src/goniometer/goniometer.py -text
scratch/jmp/cctbx_exercises/src/pycbf_ext.py -text
scratch/jmp/cctbx_exercises/src/pycbf_ext.pyc -text
scratch/jmp/cctbx_exercises/src/reflection.py -text
scratch/jmp/cctbx_exercises/src/reflection/__init__.py -text
scratch/jmp/cctbx_exercises/src/reflection/coordinate_system.py -text
scratch/jmp/cctbx_exercises/src/reflection/grid.py -text
scratch/jmp/cctbx_exercises/src/reflection/grid_mapper.py -text
scratch/jmp/cctbx_exercises/src/reflection/test/__init__.py -text
scratch/jmp/cctbx_exercises/src/reflection/test/test_reflection_coordinate_system.py -text
scratch/jmp/cctbx_exercises/src/reflection/test/test_reflection_grid.py -text
scratch/jmp/cctbx_exercises/src/test.py -text
scratch/jmp/cctbx_exercises/src/xdsio.py -text
scratch/jmp/cctbx_exercises/src/xdsio.pyc -text
scratch/jmp/dials/SConscript -text
scratch/jmp/dials/__init__.py -text
scratch/jmp/dials/array_family/SConscript -text
scratch/jmp/dials/array_family/__init__.py -text
scratch/jmp/dials/array_family/array_types.h -text
scratch/jmp/dials/array_family/boost_python/array_family_ext.cc -text
scratch/jmp/dials/array_family/boost_python/flex_tiny.cc -text
scratch/jmp/dials/array_family/boost_python/remove.cc -text
scratch/jmp/dials/array_family/boost_python/sorting.cc -text
scratch/jmp/dials/array_family/boost_python/test_tiny_int.cc -text
scratch/jmp/dials/array_family/flex.py -text
scratch/jmp/dials/array_family/remove.h -text
scratch/jmp/dials/array_family/sorting.h -text
scratch/jmp/dials/bin/calculate_gaussian_model_parameters.py -text
scratch/jmp/dials/bin/create_reflection_mask.py -text
scratch/jmp/dials/bin/create_reflection_mask_test.py -text
scratch/jmp/dials/bin/display_cbf.py -text
scratch/jmp/dials/bin/extract_reflection_profiles.py -text
scratch/jmp/dials/bin/generate_spot_positions.py -text
scratch/jmp/dials/bin/perform_xds_transform.py -text
scratch/jmp/dials/bin/perform_xds_transform_single.py -text
scratch/jmp/dials/bin/predict_spots.py -text
scratch/jmp/dials/bin/spot_visualization.py -text
scratch/jmp/dials/bin/subtract_background.py -text
scratch/jmp/dials/equipment/SConscript -text
scratch/jmp/dials/equipment/__init__.py -text
scratch/jmp/dials/equipment/beam.h -text
scratch/jmp/dials/equipment/boost_python/beam.cc -text
scratch/jmp/dials/equipment/boost_python/detector.cc -text
scratch/jmp/dials/equipment/boost_python/equipment_ext.cc -text
scratch/jmp/dials/equipment/boost_python/goniometer.cc -text
scratch/jmp/dials/equipment/detector.h -text
scratch/jmp/dials/equipment/goniometer.h -text
scratch/jmp/dials/error.h -text
scratch/jmp/dials/geometry/SConscript -text
scratch/jmp/dials/geometry/__init__.py -text
scratch/jmp/dials/geometry/boost_python/detector_coordinate_system.cc -text
scratch/jmp/dials/geometry/boost_python/geometry_ext.cc -text
scratch/jmp/dials/geometry/boost_python/reciprocal_lattice_coordinate_system.cc -text
scratch/jmp/dials/geometry/boost_python/xds_coordinate_system.cc -text
scratch/jmp/dials/geometry/transform/SConscript -text
scratch/jmp/dials/geometry/transform/__init__.py -text
scratch/jmp/dials/geometry/transform/boost_python/from_beam_vector_to_detector.cc -text
scratch/jmp/dials/geometry/transform/boost_python/from_beam_vector_to_image_volume.cc -text
scratch/jmp/dials/geometry/transform/boost_python/from_beam_vector_to_xds.cc -text
scratch/jmp/dials/geometry/transform/boost_python/from_detector_to_beam_vector.cc -text
scratch/jmp/dials/geometry/transform/boost_python/from_detector_to_xds.cc -text
scratch/jmp/dials/geometry/transform/boost_python/from_xds_e3_to_phi.cc -text
scratch/jmp/dials/geometry/transform/boost_python/from_xds_to_beam_vector.cc -text
scratch/jmp/dials/geometry/transform/boost_python/from_xds_to_detector.cc -text
scratch/jmp/dials/geometry/transform/boost_python/transform_ext.cc -text
scratch/jmp/dials/geometry/transform/from_beam_vector_to_detector.h -text
scratch/jmp/dials/geometry/transform/from_beam_vector_to_image_volume.h -text
scratch/jmp/dials/geometry/transform/from_beam_vector_to_xds.h -text
scratch/jmp/dials/geometry/transform/from_detector_to_beam_vector.h -text
scratch/jmp/dials/geometry/transform/from_detector_to_xds.h -text
scratch/jmp/dials/geometry/transform/from_xds_e3_to_phi.h -text
scratch/jmp/dials/geometry/transform/from_xds_to_beam_vector.h -text
scratch/jmp/dials/geometry/transform/from_xds_to_detector.h -text
scratch/jmp/dials/geometry/xds_coordinate_system.h -text
scratch/jmp/dials/integration/SConscript -text
scratch/jmp/dials/integration/__init__.py -text
scratch/jmp/dials/integration/background_intensity.h -text
scratch/jmp/dials/integration/boost_python/background_intensity.cc -text
scratch/jmp/dials/integration/boost_python/centroid.cc -text
scratch/jmp/dials/integration/boost_python/integration_ext.cc -text
scratch/jmp/dials/integration/boost_python/reflection_mask.cc -text
scratch/jmp/dials/integration/boost_python/reflection_mask_roi.cc -text
scratch/jmp/dials/integration/boost_python/subtract_background.cc -text
scratch/jmp/dials/integration/boost_python/xds_transform.cc -text
scratch/jmp/dials/integration/boost_python/xds_transform_grid.cc -text
scratch/jmp/dials/integration/centroid.h -text
scratch/jmp/dials/integration/filter_reflection_by_roi_volume.py -text
scratch/jmp/dials/integration/reflection_mask.h -text
scratch/jmp/dials/integration/reflection_mask_creator.py -text
scratch/jmp/dials/integration/reflection_mask_roi.h -text
scratch/jmp/dials/integration/subtract_background.h -text
scratch/jmp/dials/integration/xds_transform.h -text
scratch/jmp/dials/integration/xds_transform_grid.h -text
scratch/jmp/dials/io/__init__.py -text
scratch/jmp/dials/io/image_volume.py -text
scratch/jmp/dials/io/pycbf_extra.py -text
scratch/jmp/dials/io/xdsio.py -text
scratch/jmp/dials/old/__init__.py -text
scratch/jmp/dials/old/beam.py -text
scratch/jmp/dials/old/detector.py -text
scratch/jmp/dials/old/extract_reflection_profiles.py -text
scratch/jmp/dials/old/generate_spot_positions.py -text
scratch/jmp/dials/old/goniometer.py -text
scratch/jmp/dials/old/index_generator.py -text
scratch/jmp/dials/old/lattice_point.py -text
scratch/jmp/dials/old/perform_xds_transform.py -text
scratch/jmp/dials/old/pycbf_ext.py -text
scratch/jmp/dials/old/reflection/__init__.py -text
scratch/jmp/dials/old/reflection/coordinate_system.py -text
scratch/jmp/dials/old/reflection/grid.py -text
scratch/jmp/dials/old/reflection/grid_mapper.py -text
scratch/jmp/dials/old/reflection/mask.py -text
scratch/jmp/dials/old/reflection/reflection.py -text
scratch/jmp/dials/old/reflection/test/__init__.py -text
scratch/jmp/dials/old/reflection/test/test_reflection_coordinate_system.py -text
scratch/jmp/dials/old/reflection/test/test_reflection_grid.py -text
scratch/jmp/dials/old/save_image_volume_images.py -text
scratch/jmp/dials/old/test/__init__.py -text
scratch/jmp/dials/old/test/test_detector_coordinate_system.py -text
scratch/jmp/dials/old/xdsio.py -text
scratch/jmp/dials/reflection/SConscript -text
scratch/jmp/dials/reflection/__init__.py -text
scratch/jmp/dials/reflection/boost_python/reflection.cc -text
scratch/jmp/dials/reflection/boost_python/reflection_ext.cc -text
scratch/jmp/dials/reflection/reflection.h -text
scratch/jmp/dials/spot_prediction/SConscript -text
scratch/jmp/dials/spot_prediction/__init__.py -text
scratch/jmp/dials/spot_prediction/boost_python/index_generator.cc -text
scratch/jmp/dials/spot_prediction/boost_python/spot_prediction_ext.cc -text
scratch/jmp/dials/spot_prediction/boost_python/spot_predictor.cc -text
scratch/jmp/dials/spot_prediction/boost_python/xds_rotation_angles.cc -text
scratch/jmp/dials/spot_prediction/index_generator.h -text
scratch/jmp/dials/spot_prediction/spot_predictor.h -text
scratch/jmp/dials/spot_prediction/xds_rotation_angles.h -text
scratch/jmp/dials/util/SConscript -text
scratch/jmp/dials/util/__init__.py -text
scratch/jmp/dials/util/boost_python/test_indexing.cc -text
scratch/jmp/dials/util/boost_python/test_inheritance.cc -text
scratch/jmp/dials/util/boost_python/util_ext.cc -text
scratch/jmp/dials/util/test_inheritance.py -text
scratch/jmp/extract_reflection_profiles/__init__.py -text
scratch/jmp/extract_reflection_profiles/beam.py -text
scratch/jmp/extract_reflection_profiles/detector.py -text
scratch/jmp/extract_reflection_profiles/extract_reflection_profiles.py -text
scratch/jmp/extract_reflection_profiles/generate_spot_positions.py -text
scratch/jmp/extract_reflection_profiles/goniometer.py -text
scratch/jmp/extract_reflection_profiles/index_generator.py -text
scratch/jmp/extract_reflection_profiles/lattice_point.py -text
scratch/jmp/extract_reflection_profiles/perform_xds_transform.py -text
scratch/jmp/extract_reflection_profiles/pycbf_ext.py -text
scratch/jmp/extract_reflection_profiles/reflection/__init__.py -text
scratch/jmp/extract_reflection_profiles/reflection/coordinate_system.py -text
scratch/jmp/extract_reflection_profiles/reflection/grid.py -text
scratch/jmp/extract_reflection_profiles/reflection/grid_mapper.py -text
scratch/jmp/extract_reflection_profiles/reflection/mask.py -text
scratch/jmp/extract_reflection_profiles/reflection/reflection.py -text
scratch/jmp/extract_reflection_profiles/reflection/test/__init__.py -text
scratch/jmp/extract_reflection_profiles/reflection/test/test_reflection_coordinate_system.py -text
scratch/jmp/extract_reflection_profiles/reflection/test/test_reflection_grid.py -text
scratch/jmp/extract_reflection_profiles/save_image_volume_images.py -text
scratch/jmp/extract_reflection_profiles/test/__init__.py -text
scratch/jmp/extract_reflection_profiles/test/test_detector_coordinate_system.py -text
scratch/jmp/extract_reflection_profiles/xdsio.py -text
scratch/jmp/index_test.py -text
scratch/jmp/misc/normality_check.py -text
scratch/jmp/misc/select_peak_pixels.py -text
scratch/jmp/runtests.py -text
scratch/jmp/test/data/sim_mx/DX-CORRECTIONS.cbf -text
scratch/jmp/test/data/sim_mx/DY-CORRECTIONS.cbf -text
scratch/jmp/test/data/sim_mx/GX-CORRECTIONS.cbf -text
scratch/jmp/test/data/sim_mx/GXPARM.XDS -text
scratch/jmp/test/data/sim_mx/GY-CORRECTIONS.cbf -text
scratch/jmp/test/data/sim_mx/INTEGRATE.HKL -text
scratch/jmp/test/data/sim_mx/X-CORRECTIONS.cbf -text
scratch/jmp/test/data/sim_mx/Y-CORRECTIONS.cbf -text
scratch/jmp/test/test_beam.py -text
scratch/jmp/test/test_cctbx_rotation_angles.py -text
scratch/jmp/test/test_detector.py -text
scratch/jmp/test/test_detector_coordinate_system.py -text
scratch/jmp/test/test_from_beam_vector_to_detector.py -text
scratch/jmp/test/test_from_beam_vector_to_xds.py -text
scratch/jmp/test/test_from_detector_to_beam_vector.py -text
scratch/jmp/test/test_from_detector_to_xds.py -text
scratch/jmp/test/test_from_xds_to_beam_vector.py -text
scratch/jmp/test/test_goniometer.py -text
scratch/jmp/test/test_index_generator.py -text
scratch/jmp/test/test_reflection_mask.py -text
scratch/jmp/test/test_spot_prediction.py -text
scratch/jmp/test/test_spot_predictor.py -text
scratch/jmp/test/test_xds_coordinate_system.py -text
scratch/jmp/test_map.cc -text
scratch/luiso_s/2d_integr.py -text svneol=unset#text/plain
scratch/luiso_s/2d_integr_caller.py -text svneol=unset#text/plain
scratch/luiso_s/X4_wide_M1S4_1_0045.cbf -text svneol=unset#unset
scratch/luiso_s/X4_wide_M1S4_2_0078.cbf -text svneol=unset#unset
scratch/luiso_s/borrowed_predict_spots.py -text svneol=unset#text/plain
scratch/luiso_s/cctbx_introduction_1.png -text
scratch/luiso_s/ind_2d_integrate.py -text svneol=unset#text/plain
scratch/luiso_s/ind_2d_integrate_tst01.py -text svneol=unset#text/plain
scratch/luiso_s/integrate_2d.py -text svneol=unset#text/plain
scratch/luiso_s/matrix_test01.py -text svneol=unset#text/plain
scratch/luiso_s/matrix_test02.py -text svneol=unset#text/plain
scratch/luiso_s/matrix_test02_sub.py -text svneol=unset#text/plain
scratch/luiso_s/matrix_test_f.f90 -text
scratch/luiso_s/my_to_xds.py -text svneol=unset#text/plain
scratch/luiso_s/tst05.py -text svneol=unset#text/plain
scratch/luiso_s/tst_img_raw.py -text svneol=unset#text/plain
scratch/luiso_s/tst_mask.py -text svneol=unset#text/plain
scratch/luiso_s/tst_math.py -text svneol=unset#text/plain
scratch/luiso_s/tst_matrix_01.py -text svneol=unset#text/plain
scratch/luiso_s/tst_plotting.py -text svneol=unset#text/plain
scratch/luiso_s/tst_w_predict_spots.py -text svneol=unset#text/plain
scratch/luiso_s/ximg2701_00001.cbf -text svneol=unset#unset
test/SConscript -text
test/algorithms/centroid/tst_toy_centroid.py -text
test/algorithms/integration/tst_from_beam_vector_to_xds.py -text
test/algorithms/integration/tst_from_xds_e3_to_phi.py -text
test/algorithms/integration/tst_from_xds_to_beam_vector.py -text
test/algorithms/integration/tst_xds_coordinate_system.py -text
test/algorithms/spatial_indexing/tst_collision_detection.cc -text
test/algorithms/spatial_indexing/tst_octree.cc -text
test/algorithms/spatial_indexing/tst_quadtree.cc -text
test/algorithms/spot_prediction/tst_index_generator.py -text
test/algorithms/spot_prediction/tst_ray_predictor.py -text
test/algorithms/spot_prediction/tst_rotation_angles.py -text
test/algorithms/spot_prediction/tst_spot_prediction.py -text
test/data/sim_mx/GXPARM.XDS -text
test/data/sim_mx/INTEGRATE.HKL -text
util/__init__.py -text
util/command_line.py -text
util/io.py -text
util/pycbf_extra.py -text
