* text=auto !eol
doc/developer/cctbx_introduction_1/cctbx_introduction_1.pdf -text
doc/developer/cctbx_introduction_1/cctbx_introduction_1.png -text
doc/developer/cctbx_introduction_1/cctbx_introduction_1.py -text
doc/developer/cctbx_introduction_1/cctbx_introduction_1.tex -text
doc/developer/cctbx_introduction_1/ximg2701_00001.cbf -text
doc/developer/cctbx_introduction_2/cctbx_introduction_2.mat -text
doc/developer/cctbx_introduction_2/cctbx_introduction_2.pdf -text
doc/developer/cctbx_introduction_2/cctbx_introduction_2.py -text
doc/developer/cctbx_introduction_2/cctbx_introduction_2.tex -text
doc/developer/cctbx_introduction_3/cctbx_introduction_3.pdf -text
doc/developer/cctbx_introduction_3/cctbx_introduction_3.tex -text
doc/developer/cctbx_introduction_3/toytbx/SConscript -text
doc/developer/cctbx_introduction_3/toytbx/__init__.py -text
doc/developer/cctbx_introduction_3/toytbx/command_line/make_list.py -text
doc/developer/cctbx_introduction_3/toytbx/ext.cpp -text
doc/developer/cctbx_introduction_3/toytbx/tst_toytbx.py -text
doc/developer/jmp_notes/dials_integration/Figures/Images/image_volume_0.tiff -text
doc/developer/jmp_notes/dials_integration/Figures/Images/image_volume_1.tiff -text
doc/developer/jmp_notes/dials_integration/Figures/Images/image_volume_2.tiff -text
doc/developer/jmp_notes/dials_integration/Figures/Images/image_volume_3.tiff -text
doc/developer/jmp_notes/dials_integration/Figures/Images/image_volume_4.tiff -text
doc/developer/jmp_notes/dials_integration/Figures/Images/image_volume_5.tiff -text
doc/developer/jmp_notes/dials_integration/Figures/Images/image_volume_6.tiff -text
doc/developer/jmp_notes/dials_integration/Figures/Images/image_volume_7.tiff -text
doc/developer/jmp_notes/dials_integration/Figures/Images/image_volume_8.tiff -text
doc/developer/jmp_notes/dials_integration/Figures/Images/image_volume_w_markers0.tiff -text
doc/developer/jmp_notes/dials_integration/Figures/Images/image_volume_w_markers0_zoom1.tiff -text
doc/developer/jmp_notes/dials_integration/Figures/Images/image_volume_w_markers0_zoom2.tiff -text
doc/developer/jmp_notes/dials_integration/Figures/Images/image_volume_w_markers1.tiff -text
doc/developer/jmp_notes/dials_integration/Figures/Images/image_volume_w_markers2.tiff -text
doc/developer/jmp_notes/dials_integration/Figures/Images/image_volume_w_markers3.tiff -text
doc/developer/jmp_notes/dials_integration/Figures/Images/image_volume_w_markers4.tiff -text
doc/developer/jmp_notes/dials_integration/Figures/Images/image_volume_w_markers5.tiff -text
doc/developer/jmp_notes/dials_integration/Figures/Images/image_volume_w_markers6.tiff -text
doc/developer/jmp_notes/dials_integration/Figures/Images/image_volume_w_markers7.tiff -text
doc/developer/jmp_notes/dials_integration/Figures/Images/image_volume_w_markers8.tiff -text
doc/developer/jmp_notes/dials_integration/Figures/image_volume.png -text
doc/developer/jmp_notes/dials_integration/Figures/image_volume.xcf -text
doc/developer/jmp_notes/dials_integration/Figures/simple_spot_slices.png -text
doc/developer/jmp_notes/dials_integration/Figures/spot_prediction.png -text
doc/developer/jmp_notes/dials_integration/Figures/spot_prediction.xcf -text
doc/developer/jmp_notes/dials_integration/Figures/transformed_spot_slices.png -text
doc/developer/jmp_notes/dials_integration/Figures/transformed_spot_wireframe.png -text
doc/developer/jmp_notes/dials_integration/Figures/transformed_spot_wireframe.tiff -text
doc/developer/jmp_notes/dials_integration/dials_integration.tex -text
scratch/gw/refine.py -text
scratch/gw/sympy_spells.py -text
scratch/jmp/build.sh -text
scratch/jmp/cctbx_exercises/.project -text
scratch/jmp/cctbx_exercises/.pydevproject -text
scratch/jmp/cctbx_exercises/data/GXPARM.XDS -text
scratch/jmp/cctbx_exercises/data/INTEGRATE.HKL -text
scratch/jmp/cctbx_exercises/data/ximg2700_00001.cbf -text svneol=unset#unset
scratch/jmp/cctbx_exercises/data/ximg2701_00001.cbf -text svneol=unset#unset
scratch/jmp/cctbx_exercises/data/ximg2701_0001_reflection_profiles.hdf5 -text
scratch/jmp/cctbx_exercises/src/cbfinfo.py -text
scratch/jmp/cctbx_exercises/src/cbfinfo.pyc -text
scratch/jmp/cctbx_exercises/src/detector/__init__.py -text
scratch/jmp/cctbx_exercises/src/detector/coordinate_system.py -text
scratch/jmp/cctbx_exercises/src/detector/test/__init__.py -text
scratch/jmp/cctbx_exercises/src/detector/test/test_detector_coordinate_system.py -text
scratch/jmp/cctbx_exercises/src/exercise_1.py -text
scratch/jmp/cctbx_exercises/src/exercise_1_2.py -text
scratch/jmp/cctbx_exercises/src/exercise_2.py -text
scratch/jmp/cctbx_exercises/src/exercise_2_2.py -text
scratch/jmp/cctbx_exercises/src/exercise_3.py -text
scratch/jmp/cctbx_exercises/src/goniometer/__init__.py -text
scratch/jmp/cctbx_exercises/src/goniometer/goniometer.py -text
scratch/jmp/cctbx_exercises/src/pycbf_ext.py -text
scratch/jmp/cctbx_exercises/src/pycbf_ext.pyc -text
scratch/jmp/cctbx_exercises/src/reflection.py -text
scratch/jmp/cctbx_exercises/src/reflection/__init__.py -text
scratch/jmp/cctbx_exercises/src/reflection/coordinate_system.py -text
scratch/jmp/cctbx_exercises/src/reflection/grid.py -text
scratch/jmp/cctbx_exercises/src/reflection/grid_mapper.py -text
scratch/jmp/cctbx_exercises/src/reflection/test/__init__.py -text
scratch/jmp/cctbx_exercises/src/reflection/test/test_reflection_coordinate_system.py -text
scratch/jmp/cctbx_exercises/src/reflection/test/test_reflection_grid.py -text
scratch/jmp/cctbx_exercises/src/test.py -text
scratch/jmp/cctbx_exercises/src/xdsio.py -text
scratch/jmp/cctbx_exercises/src/xdsio.pyc -text
scratch/jmp/dials/SConscript -text
scratch/jmp/dials/__init__.py -text
scratch/jmp/dials/bin/extract_reflection_profiles.py -text
scratch/jmp/dials/bin/generate_spot_positions.py -text
scratch/jmp/dials/bin/perform_xds_transform.py -text
scratch/jmp/dials/equipment/SConscript -text
scratch/jmp/dials/equipment/__init__.py -text
scratch/jmp/dials/equipment/beam.h -text
scratch/jmp/dials/equipment/boost_python/beam.cc -text
scratch/jmp/dials/equipment/boost_python/detector.cc -text
scratch/jmp/dials/equipment/boost_python/equipment_ext.cc -text
scratch/jmp/dials/equipment/boost_python/goniometer.cc -text
scratch/jmp/dials/equipment/detector.h -text
scratch/jmp/dials/equipment/goniometer.h -text
scratch/jmp/dials/error.h -text
scratch/jmp/dials/geometry/SConscript -text
scratch/jmp/dials/geometry/__init__.py -text
scratch/jmp/dials/geometry/algorithm/SConscript -text
scratch/jmp/dials/geometry/algorithm/__init__.py -text
scratch/jmp/dials/geometry/algorithm/boost_python/algorithm_ext.cc -text
scratch/jmp/dials/geometry/algorithm/boost_python/xds_transform.cc -text
scratch/jmp/dials/geometry/algorithm/boost_python/xds_transform_grid.cc -text
scratch/jmp/dials/geometry/algorithm/xds_transform.h -text
scratch/jmp/dials/geometry/algorithm/xds_transform_grid.h -text
scratch/jmp/dials/geometry/boost_python/detector_coordinate_system.cc -text
scratch/jmp/dials/geometry/boost_python/geometry_ext.cc -text
scratch/jmp/dials/geometry/boost_python/reciprocal_lattice_coordinate_system.cc -text
scratch/jmp/dials/geometry/boost_python/xds_coordinate_system.cc -text
scratch/jmp/dials/geometry/detector_coordinate_system.h -text
scratch/jmp/dials/geometry/reciprocal_lattice_coordinate_system.h -text
scratch/jmp/dials/geometry/transform/SConscript -text
scratch/jmp/dials/geometry/transform/__init__.py -text
scratch/jmp/dials/geometry/transform/boost_python/from_beam_vector_to_detector.cc -text
scratch/jmp/dials/geometry/transform/boost_python/from_beam_vector_to_xds.cc -text
scratch/jmp/dials/geometry/transform/boost_python/from_detector_to_beam_vector.cc -text
scratch/jmp/dials/geometry/transform/boost_python/from_detector_to_xds.cc -text
scratch/jmp/dials/geometry/transform/boost_python/from_hkl_to_beam_vector.cc -text
scratch/jmp/dials/geometry/transform/boost_python/from_hkl_to_detector.cc -text
scratch/jmp/dials/geometry/transform/boost_python/from_xds_e3_to_phi.cc -text
scratch/jmp/dials/geometry/transform/boost_python/from_xds_to_beam_vector.cc -text
scratch/jmp/dials/geometry/transform/boost_python/from_xds_to_detector.cc -text
scratch/jmp/dials/geometry/transform/boost_python/transform_ext.cc -text
scratch/jmp/dials/geometry/transform/from_beam_vector_to_detector.h -text
scratch/jmp/dials/geometry/transform/from_beam_vector_to_xds.h -text
scratch/jmp/dials/geometry/transform/from_detector_to_beam_vector.h -text
scratch/jmp/dials/geometry/transform/from_detector_to_xds.h -text
scratch/jmp/dials/geometry/transform/from_hkl_to_beam_vector.h -text
scratch/jmp/dials/geometry/transform/from_hkl_to_detector.h -text
scratch/jmp/dials/geometry/transform/from_xds_e3_to_phi.h -text
scratch/jmp/dials/geometry/transform/from_xds_to_beam_vector.h -text
scratch/jmp/dials/geometry/transform/from_xds_to_detector.h -text
scratch/jmp/dials/geometry/xds_coordinate_system.h -text
scratch/jmp/dials/io/__init__.py -text
scratch/jmp/dials/io/pycbf_extra.py -text
scratch/jmp/dials/io/xdsio.py -text
scratch/jmp/dials/old/__init__.py -text
scratch/jmp/dials/old/beam.py -text
scratch/jmp/dials/old/detector.py -text
scratch/jmp/dials/old/extract_reflection_profiles.py -text
scratch/jmp/dials/old/generate_spot_positions.py -text
scratch/jmp/dials/old/goniometer.py -text
scratch/jmp/dials/old/index_generator.py -text
scratch/jmp/dials/old/lattice_point.py -text
scratch/jmp/dials/old/perform_xds_transform.py -text
scratch/jmp/dials/old/pycbf_ext.py -text
scratch/jmp/dials/old/reflection/__init__.py -text
scratch/jmp/dials/old/reflection/coordinate_system.py -text
scratch/jmp/dials/old/reflection/grid.py -text
scratch/jmp/dials/old/reflection/grid_mapper.py -text
scratch/jmp/dials/old/reflection/mask.py -text
scratch/jmp/dials/old/reflection/reflection.py -text
scratch/jmp/dials/old/reflection/test/__init__.py -text
scratch/jmp/dials/old/reflection/test/test_reflection_coordinate_system.py -text
scratch/jmp/dials/old/reflection/test/test_reflection_grid.py -text
scratch/jmp/dials/old/save_image_volume_images.py -text
scratch/jmp/dials/old/test/__init__.py -text
scratch/jmp/dials/old/test/test_detector_coordinate_system.py -text
scratch/jmp/dials/old/xdsio.py -text
scratch/jmp/dials/spot_prediction/SConscript -text
scratch/jmp/dials/spot_prediction/__init__.py -text
scratch/jmp/dials/spot_prediction/background_intensity.h -text
scratch/jmp/dials/spot_prediction/boost_python/background_intensity.cc -text
scratch/jmp/dials/spot_prediction/boost_python/reflection_mask.cc -text
scratch/jmp/dials/spot_prediction/boost_python/spot_prediction_ext.cc -text
scratch/jmp/dials/spot_prediction/boost_python/subtract_background.cc -text
scratch/jmp/dials/spot_prediction/reflection_mask.h -text
scratch/jmp/dials/spot_prediction/subtract_background.h -text
scratch/jmp/dials/util/SConscript -text
scratch/jmp/dials/util/__init__.py -text
scratch/jmp/dials/util/boost_python/util_ext.cc -text
scratch/jmp/extract_reflection_profiles/__init__.py -text
scratch/jmp/extract_reflection_profiles/beam.py -text
scratch/jmp/extract_reflection_profiles/detector.py -text
scratch/jmp/extract_reflection_profiles/extract_reflection_profiles.py -text
scratch/jmp/extract_reflection_profiles/generate_spot_positions.py -text
scratch/jmp/extract_reflection_profiles/goniometer.py -text
scratch/jmp/extract_reflection_profiles/index_generator.py -text
scratch/jmp/extract_reflection_profiles/lattice_point.py -text
scratch/jmp/extract_reflection_profiles/perform_xds_transform.py -text
scratch/jmp/extract_reflection_profiles/pycbf_ext.py -text
scratch/jmp/extract_reflection_profiles/reflection/__init__.py -text
scratch/jmp/extract_reflection_profiles/reflection/coordinate_system.py -text
scratch/jmp/extract_reflection_profiles/reflection/grid.py -text
scratch/jmp/extract_reflection_profiles/reflection/grid_mapper.py -text
scratch/jmp/extract_reflection_profiles/reflection/mask.py -text
scratch/jmp/extract_reflection_profiles/reflection/reflection.py -text
scratch/jmp/extract_reflection_profiles/reflection/test/__init__.py -text
scratch/jmp/extract_reflection_profiles/reflection/test/test_reflection_coordinate_system.py -text
scratch/jmp/extract_reflection_profiles/reflection/test/test_reflection_grid.py -text
scratch/jmp/extract_reflection_profiles/save_image_volume_images.py -text
scratch/jmp/extract_reflection_profiles/test/__init__.py -text
scratch/jmp/extract_reflection_profiles/test/test_detector_coordinate_system.py -text
scratch/jmp/extract_reflection_profiles/xdsio.py -text
scratch/jmp/runtests.py -text
scratch/jmp/test/test_beam.py -text
scratch/jmp/test/test_detector.py -text
scratch/jmp/test/test_detector_coordinate_system.py -text
scratch/jmp/test/test_from_beam_vector_to_detector.py -text
scratch/jmp/test/test_from_beam_vector_to_xds.py -text
scratch/jmp/test/test_from_detector_to_beam_vector.py -text
scratch/jmp/test/test_from_detector_to_xds.py -text
scratch/jmp/test/test_from_xds_to_beam_vector.py -text
scratch/jmp/test/test_goniometer.py -text
scratch/jmp/test/test_reciprocal_lattice_coordinate_system.py -text
scratch/jmp/test/test_xds_coordinate_system.py -text
