* text=auto !eol
doc/developer/cctbx_introduction_1.pdf -text
doc/developer/cctbx_introduction_1.png -text
doc/developer/cctbx_introduction_1.py -text
doc/developer/cctbx_introduction_1.tex -text
doc/developer/ximg2701_00001.cbf -text
