repos:

# Automatic source code formatting
- repo: https://github.com/psf/black
  rev: 19.10b0
  hooks:
  - id: black
    args: [--safe, --quiet]
    files: \.pyi?$|SConscript$|^libtbx_config$
    types: [file]

# Syntax check and some basic flake8
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v2.0.0
  hooks:
  - id: check-ast
  - id: check-yaml
  - id: flake8
    args: ['--max-line-length=88', '--select=E401,E711,E712,E713,E714,E721,E722,E901,F401,F402,F403,F405,F631,F632,F633,F811,F812,F821,F822,F841,F901,W191,W291,W292,W293,W602,W603,W604,W605,W606']
  - id: check-merge-conflict
  - id: check-added-large-files
    args: ['--maxkb=200']

# Type checking
- repo: https://github.com/pre-commit/mirrors-mypy
  rev: v0.782
  hooks:
  - id: mypy
    args: [--no-strict-optional, --ignore-missing-imports] # --show-traceback to debug
#   additional_dependencies: [tokenize-rt==3.2.0]

- repo: local
  hooks:
  - id: no-images
    name: Check for image files
    entry: >
      Images for documentation should go into the documentation repository
      http://github.com/dials/dials.github.io
    language: fail
    files: '.*\.png$'
