body {
  margin: 8px;
  min-width: 240px;
  margin-left: 5%;
  margin-right: 5%;
}

div.document {
  width: auto;
}

div.logoheader {
  width: auto;
  margin: 0 auto 0 auto;
  background-color: #061679;
  border: medium solid black;
  /* This makes the borders rounded on Mozilla, which pleases me */
  -moz-border-radius: 8px;
  padding: 0;
}

div.footer {
  height: 50px;
  width: auto;
}

img.logofooter {
  height: 50px;
  margin: 5px;
  padding: 5px;
}


@media screen and (max-width: 870px) {

  body {
    margin-left: auto;
    margin-right: auto;
  }

  div.document {
    width: 100%;
    margin: 15px auto 0 auto;
  }

}

.toggle .header {
    display: block;
    clear: both;
}

.toggle .header:after {
    content: " ▼";
}

.toggle .header.open:after {
    content: " ▲";
}

