{% macro table(rows, has_column_header=false, has_row_header=false) -%}
    <div class="table-responsive">
        <table class="table table-hover table-condensed">
            {% for row in rows %}
            {% set outer_loop = loop %}
            <tr>
            {% for item in row %}
                {% if (outer_loop.first and has_column_header) or
                      (loop.first and has_row_header) %}
                    <th>{{ item }}</th>
                {% else %}
                    <td>{{ item }}</td>
                {% endif %}
            {% endfor %}
            </tr>
            {% endfor %}
        </table>
    </div>
{%- endmacro %}


{% macro modal(header, content, id) -%}

<!-- Modal -->
<div id="{{ id }}" class="modal fade" role="dialog">
  <div class="modal-dialog modal-lg">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">{{ header }}</h4>
      </div>
      <div class="modal-body">
        <pre>{{ content }}</pre>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>

  </div>
</div>

{%- endmacro %}

{% macro plotly_graph(div_id, json_data, style=None) -%}

    <div class="plot_wrapper">

        {% if style != None %}
        <div class="col-xs-6 col-sm-6 col-md-4 {{ style }}" id="{{ div_id }}">
        {% else %}
        <div class="col-xs-6 col-sm-6 col-md-4 plot" id="{{ div_id }}">
        {% endif %}

        </div>

        {% if "help" in json_data %}
        <div class="col-xs-1 col-sm-1 col-md-1">
            <button type="button" class="btn btn-info" style="text-align:center" data-toggle="modal" data-target="#{{ div_id }}_help">
                <span class="glyphicon glyphicon-question-sign"></span>
                <!--Help-->
            </button>
            {{ modal(json_data["layout"]["title"], json_data["help"], div_id+"_help")}}
        </div>
        {% endif %}

    </div>
    <script>
        var graphs_{{ div_id }} = {{ json_data | tojson }};
        Plotly.newPlot({{ div_id }}, graphs_{{ div_id }}.data, graphs_{{ div_id }}.layout);
    </script>
{%- endmacro %}

{% macro panel(panel_title, panel_id, graphs, styles=None) -%}
<div class="panel panel-default">
    <div class="panel-heading" data-toggle="collapse" data-target="#collapse_{{ panel_id }}">
        <h4 class="panel-title">
            <a>{{ panel_title }}</a>
        </h4>
    </div>
    <div id="collapse_{{ panel_id }}" class="panel-collapse collapse">
        <div class="panel-body">
            <div class="container-fluid">
                {% for div_id, json_data in graphs.items() %}
                    {% if "img" in json_data %}
                        <img src="data:image/png;base64,{{ json_data['img'] }}">
                    {% elif styles != None %}
                        {{ plotly_graph(div_id, json_data, style=styles.get(div_id)) }}
                    {% else %}
                        {{ plotly_graph(div_id, json_data) }}
                    {% endif %}
                {% endfor %}
            </div>
        </div>
    </div>
</div>
{%- endmacro %}
