{% extends "report_base.html" %}
{% block content %}
<div class="page-header">
    <h1>{{ page_title }}</h1>
</div>

<div>
  <div class="panel-group">
      <div class="panel-body">
          <p><b>Summary of merging statistics</b></p>
          {{ macros.table(scaling_tables[0]) }}
          <p><b>Merging statistics by resolution bin</b></p>
          {{ macros.table(scaling_tables[1]) }}
      </div>
      {{ macros.panel('Analysis by resolution', 'resolution_plots', resolution_plots) }}
      {{ macros.panel('Analysis by image number', 'batch_plots', batch_plots) }}
      {{ macros.panel('Scaling model plots', 'scaling_model', scaling_model_graphs) }}
      {{ macros.panel('Scaling outlier plots', 'outlier_plots', scaling_outlier_graphs) }}
      {{ macros.panel('Error distribution plots', 'error_model_plots', error_model_plots) }}
      {{ macros.panel('Anomalous plots', 'anom_plots', anom_plots) }}
      {{ macros.panel('Scaling and filtering plots', 'filter_plots', filter_plots) }}
      {{ macros.panel('Miscellaneous plots', 'misc_plots', misc_plots) }}
  </div>
</div>

{% endblock %}
